@model TimeViewModel
@{
    ViewData["Title"] = "Trips";
}

<div class="row shadow p-3 mb-1 bg-white rounded align-items-center sticky-top" style="top:55px;">
    <div class="col font-weight-bolder p-0">
        @Model.Start
    </div>
    <div class="col text-center p-0" >
        <button class="btn btn-outline-primary align-center" onclick="switchStops()"><i class='fas fa-exchange-alt'></i></button>
    </div>
    <div class="col font-weight-bolder text-right p-0">
        @Model.Destination
    </div>
</div>

<div id="accordion">
    <div style="height:55px"></div>
    @{
        DateTime nowDate;

        if (Environment.OSVersion.Platform == PlatformID.Unix)
        {
            nowDate = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("America/Chicago"));
        }
        else
        {
            nowDate = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time"));
        }
    }

    @foreach (Trip t in Model.Trips)
    {
        <div class="card">
            <div class="card-header @(t.DestinationStop.ArrivalTime < nowDate ? "text-muted" : "")" data-toggle="collapse" data-target="#@($"collapse{t.Id}{t.OriginStop.ArrivalTime.Date.Day}")" style="cursor: pointer;" onclick="moveMap('map_@t.Id', '@t.ShapeId');">
                <div class="d-flex justify-content-between align-items-center">
                    <div width="1px">
                        <div width="1px" class="font-weight-bolder mr-3">
                            @t.OriginStop.DepartureTime.ToShortTimeString()
                            <div class="font-weight-lighter" style="font-size:0.67em;">
                                <span width="1px" name="timeUntil"
                                      time="@t.OriginStop.DepartureTime">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div width="1px">
                        <div width="1px" class="font-weight-bold">
                            <span class="badge-pill" style="font-size:16px; background-color:#@t.Route.RouteColor; foreground-color:#@t.Route.TextColor">@t.Route.ShortName</span>
                            <span class="badge badge-secondary">@t.Id.Split('_')[1].Substring(2)</span>

                            @if (t.IsExpress)
                            {
                                <i class='fas fa-angle-double-right text-success'></i>
                            }
                            else
                            {
                                <span style="width: 14px; display: inline-block"></span>
                            }

                            <span name="alertIcon" tripId="@t.Id" class="text-warning">
                            </span>
                        </div>
                    </div>


                    <div width="1px" class="text-right font-weight-bolder">
                        @t.DestinationStop.ArrivalTime.ToShortTimeString()

                        <div class="font-weight-lighter" style="font-size:0.67em;">
                            <span width="1px" name="timeUntil"
                                  time="@t.DestinationStop.ArrivalTime">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="@($"collapse{t.Id}{t.OriginStop.ArrivalTime.Date.Day}")" class="collapse" data-parent="#accordion">
                <div class="card-body text-warning">
                    <div name="alertBody" tripId="@t.Id">

                    </div>

                    <div class="d-flex flex-column">
                        <div>
                            <table class="table table-borderless table-sm small">

                                @for (int i = 0; i < t.RouteStops.Count; i++)
                                {
                                    if (t.TripStops.Contains(t.RouteStops[i]))
                                    {
                                        <tr style="@(i == 0 ? "color:green" : (i == t.RouteStops.Count - 1  || t.TripStops.Last() == t.RouteStops[i] ? "color:red" : "color:black"));
                                          @(t.RouteStops[i] == t.OriginStop || t.RouteStops[i] == t.DestinationStop ? "font-weight: bold" : "font-weight: normal");">
                                            <td width="1px" style="cursor: pointer;" onclick="showStop('@(t.RouteStops[i].Lat)', '@(t.RouteStops[i].Lon)');">
                                                <i name="stopdot" arrive_time="@t.RouteStops[i].ArrivalTime" class="fas fa-circle font-weight-lighter"></i>
                                            </td>

                                            <td width="1px">
                                                <span class="mr-3">@t.RouteStops[i].DepartureTime.ToShortTimeString()</span>
                                            </td>


                                            <td class="text-right " width="1px">
                                                <span name="timeUntilStop" arrive_time="@t.RouteStops[i].ArrivalTime">
                                                </span>
                                            </td>

                                            <td class="text-nowrap text-right" width="1px">
                                                <span name="distanceFromStation"
                                                      stopLat="@(t.RouteStops[i].Lat)" stopLon="@t.RouteStops[i].Lon" destLat="@(t.RouteStops.Last().Lat)" destLon="@t.RouteStops.Last().Lon" tripId="@t.Id">
                                                </span>
                                            </td>

                                            <td>
                                                <span class="mx-3">@t.RouteStops[i].Name</span>
                                            </td>
                                        </tr>

                                        if (t.TripStops.Last() == t.RouteStops[i])
                                        {
                                            break;
                                        }
                                    }
                                }

                            </table>
                        </div>
                        <div class="flex-grow-1" name="map" id="map_@t.Id" tripId="@t.Id" gpsTrainLat="" gpsTrainLon="" style="background-color: lightgray; display: inline-block; height:423px"></div>
                    </div>

                </div>
            </div>
        </div>

    }
</div>
<script src="~/js/Web.js"></script>
<script src="~/js/Map.js"></script>

