@model TimeViewModel
@{
    ViewData["Title"] = "Trips";
}

    <div class="row shadow p-3 mb-1 bg-white rounded align-items-center" style="margin-top:64px; position: sticky;">
        <div class="col font-weight-bolder">
                @Model.Start
        </div>
        <div class="col text-center">
            <button class="btn btn-outline-primary align-center" onclick="switchStops()"><i class='fas fa-exchange-alt'></i></button>
        </div>
        <div class="col font-weight-bolder text-right">
            @Model.Destination
        </div>
    </div>

    <div id="accordion">

        @foreach (Trip t in Model.Trips)
        {
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#@($"collapse{t.Id}")" aria-expanded="false" aria-controls="@($"collapse{t.Id}")" style="cursor: pointer;" onclick="moveMap('map_@t.Id', '@t.ShapeId');">
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div width="1px" class="font-weight-bolder mr-3">                                
                                @t.OriginStop.DepartureTime.ToShortTimeString()           
                            </div>

                            <div width="1px" class="font-weight-bolder">
                                <span class="badge-pill" style="font-size:16px; background-color:#@t.Route.RouteColor; foreground-color:#@t.Route.TextColor">@t.Route.ShortName</span>
                                <span class="badge badge-secondary">@t.Id.Split('_')[1].Substring(2)</span>
                                
                                @if (t.IsExpress)
                                {
                                    <i class='fas fa-angle-double-right text-success'></i>
                                }
                                else
                                {
                                    <span style="width: 14px; display: inline-block"></span>
                                }


                            </div>
                        </div>
                        <div class="font-weight-bolder">
                            <span width="1px" name="timeUntil"
                                  depart_time="@t.OriginStop.DepartureTime"
                                  arrive_time="@t.DestinationStop.ArrivalTime">
                            </span>
                        </div>


                        <div width="1px" class="text-right font-weight-bolder">
                            @t.DestinationStop.ArrivalTime.ToShortTimeString()
                        </div>
                    </div>
                </div>

                <div id="@($"collapse{t.Id}")" class="collapse" aria-labelledby="@($"collapse{t.Id}")" data-parent="#accordion">
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div>
                                <table class="table table-hover table-borderless table-sm small">
                                
                                    @for (int i = 0; i < t.RouteStops.Count; i++)
                                    {
                                        if (t.TripStops.Contains(t.RouteStops[i]))
                                        {
                                    <tr style="@(i == 0 ? "color:green" : (i == t.RouteStops.Count - 1  || t.TripStops.Last() == t.RouteStops[i] ? "color:red" : "color:black"));
                                          @(t.RouteStops[i] == t.OriginStop || t.RouteStops[i] == t.DestinationStop ? "font-weight: bold" : "font-weight: normal"); cursor: pointer;" onclick="showPoint('@(t.RouteStops[i].Lat)', '@(t.RouteStops[i].Lon)');">
                                        <td width="1px">                                            
                                            <i name="stopdot" arrive_time="@t.RouteStops[i].ArrivalTime" class="fas fa-circle font-weight-lighter"></i> 
                                        </td>

                                        <td width="1px">
                                            <span class="mr-3">@t.RouteStops[i].DepartureTime.ToShortTimeString()</span>
                                        </td>


                                        <td width="1px">
                                            <span name="timeUntilStop" arrive_time="@t.RouteStops[i].ArrivalTime">
                                            </span>
                                        </td>

                                        <td width="1px"> 
                                            <span name="distanceFromStation" 
                                                  lat="@(t.RouteStops[i].Lat)" lon="@t.RouteStops[i].Lon">
                                            </span>
                                        </td>

                                        <td>
                                            <span class="mx-3">@t.RouteStops[i].Name</span>
                                        </td>
                                    </tr>


                                            if (t.TripStops.Last() == t.RouteStops[i])
                                            {
                                                break;
                                            }
                                        }
                                    }

                                </table>
                            </div>
                            <div class="flex-grow-1" name="map" id="map_@t.Id" tripId="@t.Id" style="background-color: lightgray; display: inline-block; height:500px">

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        }
        </div>


