@model TimeViewModel
@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped table-bordered" style="margin-top:60px">
    <thead class="tablehead">
        <tr>
            <th colspan="2">@Model.Start</th>
            <th width="1px"><button class="btn btn-outline-primary"><i class='fas fa-exchange-alt'></i></button></th>
            <th colspan="2" class="text-right">@Model.Destination</th>
        </tr>
    </thead>

    @foreach (Trip t in Model.Trips)
    {
        <tr>
            <td width="1px" class="font-weight-bolder">
                <span>
                    @t.OriginStop.DepartureTime.ToShortTimeString()
                </span>

                <span width="1px" class="font-weight-lighter" style="font-size:8pt;" name="timeUntil" current-time="@t.OriginStop.DepartureTime.ToShortTimeString()"></span>

                <span width="1px" class="font-weight-lighter" style="font-size:8pt;" name="gpsPositions" trip_id="@t.Id" stop_name="@t.OriginStop.Name" lat="@t.OriginStop.Lat" lon="@t.OriginStop.Lon"></span>
            </td>


            <td colspan="3" class="text-center align-middle" style='font-size:8px'>
                @{bool expressShown = false; }

                @for (int i = 0; i < t.RouteStops.Count; i++)
                {

                    @if (t.TripStops.Contains(t.RouteStops[i]))
                    {

                        if (i > 0)
                        {
                            <i class="fas fa-grip-lines align-middle"></i>
                        }

                        <i class="fas fa-circle align-middle" data-toggle="tooltip" title="@t.RouteStops[i].Name"
                           style="@(i == 0 ? "color:green" : (i == t.RouteStops.Count - 1  || t.TripStops.Last() == t.RouteStops[i] ? "color:red" : "color:black"));
                                  @(t.RouteStops[i] == t.OriginStop || t.RouteStops[i] == t.DestinationStop ? "font-size:16px" : "font-size:8px");"></i>

                        expressShown = false;

                        if (t.TripStops.Last() == t.RouteStops[i])
                        {
                            break;
                        }
                    }
                    else if (!expressShown)
                    {
                        <i class="fas fa-grip-lines align-middle"></i><i class="fas fa-angle-double-right align-middle" style="color:blue; font-size:16px;"></i>
                            
                        expressShown = true;

                    }
                  }
                

            </td>

            <td width="1px" class="text-right font-weight-bolder">
                @t.DestinationStop.ArrivalTime.ToShortTimeString()
                <span width="1px" class="font-weight-lighter" style="font-size:8pt;" name="timeUntil" current-time="@t.DestinationStop.ArrivalTime.ToShortTimeString()"></span>
                <span width="1px" class="font-weight-lighter" style="font-size:8pt;" name="gpsPositions" trip_id="@t.Id" stop_name="@t.DestinationStop.Name" lat="@t.DestinationStop.Lat" lon="@t.DestinationStop.Lon"></span>
            </td>
        </tr>
    }

</table>

